.instructors {
  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;

    @include vp-1199 {
      margin: 0 0 24px;
    }

    @include vp-767 {
      margin: 0 0 25px;
    }
  }

  &__subheading {
    margin: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__navigation {
    display: flex;
    gap: 0 4px;
    z-index: 2;
    margin: -7px 2px 0 0;

    @include vp-1199 {
      margin: -9px 0 0;
    }

    @include vp-767 {
      margin: -11px 0 0;
    }
  }

  &__wrapper {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 0;
      z-index: -1;
      width: 100px;
      box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
    }

    &::after {
      right: 0;
      left: auto;
    }
  }

  &__slider {
    margin: -30px 0;
    padding: 30px 0;
    background-color: $color-default-white;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

    picture {
      margin: 0 0 16px;
    }

    img {
      width: 238px;
      height: 212px;
      object-fit: cover;
    }

    @include vp-1199 {
      padding: 15px 15px 16px;

      img {
        width: 100%;
        height: auto;
      }
    }

    @include vp-767 {
      padding: 20px 20px 21px;
    }
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 13px;

    @include vp-1199 {
      margin: 0 0 12px;
    }
  }

  &__header {
    max-width: 120px;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    @include vp-1199 {
      max-width: 70%;
    }

    @include vp-1199 {
      max-width: 50%;
    }
  }

  &__link {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid rgba($color-navy-blue, 0.1);

    svg {
      width: 24px;
      height: 24px;
    }

    @include vp-767 {
      margin-right: 12px;
    }

    &:hover:not([disabled]) {
      border-color: $color-elephant;
    }

    &:focus-within:not([disabled]) {
      border-color: $color-elephant;
    }

    &:active:not([disabled]) {
      color: $color-default-white;
      background-color: $color-navy-blue;
      border-color: $color-navy-blue;
    }

    &[disabled] {
      color: rgba($color-elephant, 0.3);
      border-color: rgba($color-elephant, 0.3);
      pointer-events: none;
    }
  }

  &__text p {
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;

    @include vp-1199 {
      line-height: 18px;
    }
  }

  &__text > *:last-child {
    margin: 0;
  }
}
