.secondary-btn {
  position: relative;
  display: block;
  width: 37px;
  height: 35px;
  color: $color-default-white;
  background-color: $color-navy-blue;
  border: 1px solid $color-transparent;
  outline: none;
  cursor: pointer;
  transition: all $trans-default;

  &:hover:not([disabled]) {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    border-color: $color-resolution-blue;
  }

  &:focus-within:not([disabled]) {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    border-color: $color-resolution-blue;
  }

  &:active:not([disabled]) {
    color: $color-default-white;
    background-color: $color-resolution-blue;
  }

  &[disabled] {
    color: $color-default-white;
    background-color: rgba(2, 102, 193, 0.2);
    pointer-events: none;
  }

  &-icon {
    position: absolute;
    margin: auto;
    inset: 0;
  }
}
