    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <div class="footer__wrapper-top">
            <a class = "footer__logo" href="index.html" aria-label="Логотип компании">
              <svg class="footer__logo-image" width="205" height="60" aria-hidden="true" focusable="false">
                <use xlink:href="img/logo/logo.svg#logo"></use>
              </svg>
            </a>
            <ul class="footer__links">
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Туры</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Обучение</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">О нас</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Отзывы</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Фотографии</a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="#">Контакты</a>
              </li>
            </ul>
            <div class="footer__phone-wrapper">
              <a class="footer__phone" href="tel:88007253232">8 800 725 32 32</a>
            </div>
          </div>
          <ul class="footer__socials">
            <li>
              <a href="#" aria-label="Ссылка на Вконтакте">
                <svg width="30" height="30">
                  <use xlink:href="img/sprite.svg#socials-vk-with-frame"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Однокласники">
                <svg width="30" height="30">
                  <use xlink:href="img/sprite.svg#socials-ok-with-frame"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Ссылка на Реддит">
                <svg width="30" height="30">
                  <use xlink:href="img/sprite.svg#socials-reddit-with-frame"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="footer__policy">Политика конфиденциальности</p>
        </div>
      </div>
    </footer>
