    <header class="header" data-navigation="is-closed">
      <div class="container">
        <div class="header__wrapper">
          <button class="header__nav-toggle" aria-label="Переключатель меню" data-navigation-toggle></button>
          <a class = "header__logo" href="index.html" aria-label="Логотип компании">
            <svg class="header__logo-image" width="205" height="62" aria-hidden="true" focusable="false">
              <use xlink:href="img/logo/logo.svg#logo"></use>
            </svg>
          </a>
          <nav class="header__nav">
            <ul class="header__links">
              <li class="header__links-item">
                <a class="header__links-link" href="#closest-tours">Туры</a>
              </li>
              <li class="header__links-item">
                <a class="header__links-link" href="#education">Обучение</a>
              </li>
              <li class="header__links-item">
                <a class="header__links-link" href="#about">О нас</a>
              </li>
              <li class="header__links-item">
                <a class="header__links-link" href="#reviews">Отзывы</a>
              </li>
              <li class="header__links-item">
                <a class="header__links-link" href="#photo-gallery">Фотографии</a>
              </li>
              <li class="header__links-item">
                <a class="header__links-link" href="#contacts">Контакты</a>
              </li>
            </ul>
          </nav>
          <a class="header__phone" href="tel:88007253232">8 800 725 32 32</a>
        </div>
      </div>
    </header>
